@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* Width and height of scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 4px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 4px;
  border-inline: 1px solid #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858484;
}

body {
  @apply bg-secondary text-white font-sans transition-colors duration-300 relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans text-white leading-tight;
}

h1 {
  @apply text-4xl md:text-5xl font-bold;
}
h2 {
  @apply text-3xl md:text-4xl font-semibold;
}
h3 {
  @apply text-2xl md:text-3xl;
}
p,
li {
  @apply text-sm font-light;
}

li {
  @apply my-2;
}

.btn {
  @apply inline-block px-6 py-2 rounded hover:scale-110 font-semibold tracking-wide shadow-md transition-all duration-300;
}
.btn-primary {
  @apply btn bg-primary text-white hover:bg-opacity-80 active:scale-95;
}
.btn-secondary {
  @apply btn bg-secondary text-white border-[1px] border-white hover:bg-opacity-80 active:scale-95;
}

a {
  @apply text-primary hover:underline hover:text-opacity-80 transition-colors;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

.full-width {
  @apply w-full max-w-none;
}

.fade-in {
  @apply opacity-0 translate-y-5 transition-all duration-500;
}
.fade-in.show {
  @apply opacity-100 translate-y-0;
}

.slide-left {
  @apply opacity-0 translate-x-5 transition-all duration-500;
}
.slide-left.show {
  @apply opacity-100 translate-x-0;
}

.scale-in {
  @apply scale-90 opacity-0 transition-all duration-500;
}
.scale-in.show {
  @apply scale-100 opacity-100;
}
li {
  @apply list-inside list-disc;
}
.dark body {
  @apply bg-gray-900 text-white;
}
.dark h1,
.dark h2,
.dark h3,
.dark a {
  @apply text-gray-100;
}

.hue {
  animation: hue 5s alternate-reverse infinite;
  backdrop-filter: blur(16px);
}

@keyframes hue {
  from {
    backdrop-filter: sepia(4) hue-rotate(0deg) blur(16px);
  }
  to {
    backdrop-filter: sepia(4) hue-rotate(360deg) blur(16px);
  }
}
